/* ---- reset ---- */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
  }

  .center-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
  }

  .center-info i {
    font-size: 27px;
    transition: all 0.35s;
  }

  .center-info i:hover {
    cursor: pointer;
    transform: translate(0, 35%);
  }
  .container h1 {
    font-size: 50px;
    background: linear-gradient(90deg,#2b98d8,#ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #02030c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }

  header {
    position: fixed;
    top: 0;
    width: 97%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

li a {
    color: white;
    text-decoration: none;
    transition: all 0.15s;
}

li a:hover {
    color:rgb(218, 71, 71);
}

span {
    color: rgb(218, 71, 71);
}


.slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 30px;
}


.fp-watermark {
  display: none;
}

#slide2 {
  background-image: url('images/todo.png');
}
#slide3 {
  background-image: url('images/tip-calculator.png');
}
#slide4 {
  background-image: url('images/register.png');
}
#slide5 {
  background-image: url('images/snap.png');
}
#slide6 {
  background-image: url('images/ondeck.png');
}
#slide7 {
  background-image: url('images/new-world.png');
}
#slide8 {
  background-image: url('images/insta.png');
}
#slide9 {
  background-image: url('images/huddle.png');
}
#slide10 {
  background-image: url('images/faq.png');
}
#slide11 {
  background-image: url('images/color-game.png');
}
#slide12 {
  background-image: url('images/car.png');
}

.biography {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myself {
  position: relative;
}

.biography img {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 10px;
  object-fit: cover;
  border-radius: 24% 76% 67% 33% / 30% 30% 70% 70% ;
  box-shadow:
  2.8px 2.8px 2.2px rgba(255, 255, 255, 0.02),
  6.7px 6.7px 5.3px rgba(255, 255, 255, 0.028),
  12.5px 12.5px 10px rgba(255, 255, 255, 0.035),
  22.3px 22.3px 17.9px rgba(253, 253, 253, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}


.shape {
  width: 300px;
  height: 300px;
  border-radius: 64% 36% 38% 62% / 39% 50% 50% 61%   ;
  background: rgb(255, 255, 255);
}
.text-info {
  text-align: left;
  margin: 50px 20px;
}

span {
  color: white;
}
.question {
  color: rgba(179, 176, 176, 0.603);
}
.answer  {
  font-size: 18px;
}

@media all and (max-width: 900px) {
  .fp-arrow {
    margin-top: -18px !important;
  }
  .fp-arrow.fp-prev{
    border-width: 18.5px 14px 18.5px 0 !important;
  }
  .fp-arrow.fp-next{
    border-width: 18.5px 0 18.5px 14px  !important;
  }

  .biography {
    flex-direction: column;
  }
  .biography img {
    width: 193px;
    height: 193px;
  }

  .shape {
    width: 193px;
    height: 193px;
  }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
  .biography {
    margin: 0 70px;
  }
}