/* ---- reset ---- */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
  }

  .center-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
  }

  .center-info i {
    font-size: 27px;
    transition: all 0.35s;
  }

  .center-info i:hover {
    cursor: pointer;
    transform: translate(0, 35%);
  }
  .container h1 {
    font-size: 50px;
    background: linear-gradient(90deg,#2b98d8,#ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #02030c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }

  header {
    position: fixed;
    top: 0;
    width: 97%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

ul {
    list-style: none;
    text-align: left;
    gap: 10px;
    padding-left: 0;
}


.slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 500px;
  font-size: 30px;  
}

.slide:not(:first-child) {
  text-align: left;
}

.slide-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slide-right-content h4, .slide-right-content h5{
    font-weight: 300;
    color: rgba(177, 177, 177, 0.678);
  margin: 0;

}

.slide-right-content h5 {
}
.slide-right-content span {
  display: block;
}

.slide-right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  max-width: 600px;
}
.fp-watermark {
  display: none;
}

.about p {
  font-size: 12px;
}


.biography {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myself {
  position: relative;
}

.section, .slide {
  background: #02030c;
}

.biography img {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 10px;
  object-fit: cover;
  border-radius: 24% 76% 67% 33% / 30% 30% 70% 70% ;
  box-shadow:
  2.8px 2.8px 2.2px rgba(255, 255, 255, 0.02),
  6.7px 6.7px 5.3px rgba(255, 255, 255, 0.028),
  12.5px 12.5px 10px rgba(255, 255, 255, 0.035),
  22.3px 22.3px 17.9px rgba(253, 253, 253, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}


.shape {
  width: 300px;
  height: 300px;
  border-radius: 64% 36% 38% 62% / 39% 50% 50% 61%   ;
  background: rgb(255, 255, 255);
}
.text-info {
  text-align: left;
  margin: 50px 20px;
}

span {
  color: white;
}
.question {
  color: rgba(179, 176, 176, 0.603);
}
.answer  {
  font-size: 18px;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.technologies img {
  filter: grayscale(100%);
  transition: all 0.35s;
  cursor: pointer;
}

.technologies img:hover {
  filter: grayscale(0%);
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.card {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgb(218, 71, 71);
  border-radius: 24% 76% 67% 33% / 30% 30% 70% 70% ;
  transition: border-radius 0.3s;
}

.sc-shape {
  background: white;
  width: 150px;
  height: 150px;
  transition: border-radius 0.3s;
}

.card img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover   {
  border-radius: 58% 42% 25% 75% / 63% 58% 42% 37%;
}

.card:hover .sc-shape {
  border-radius: 24% 76% 67% 33% / 30% 30% 70% 70% ;
}

.twitter {
  background: rgb(50, 162, 228);
}

.primary-button {
  font-family: 'Ropa Sans', sans-serif;
     /* font-family: 'Valorant', sans-serif; */
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0E1822;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0E1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
 }
 
 .primary-button:hover {
  border: 1px solid #FF4655;
  color: white;
  background-position: 40%;
 }
 
 .primary-button:before {
  content: "";
  position: absolute;
  background-color: #0E1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .primary-button:hover:before {
  background-color: white;
 }
 
 .primary-button:hover:after {
  background-color: white;
 }
 
 .primary-button:after {
  content: "";
  position: absolute;
  background-color: #FF4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .button-borders {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
 }
 
 .button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0px;
     /* opacity: 0.3; */
 }
 
 .button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0px;
     /* opacity: 0.3; */
  z-index: 0;
 }
 
 .shape {
  fill: #0E1822;
 }
 
 button {
  font-family: inherit;
  font-weight: 300;
}

.btn-web {
  max-width: none;
  margin:  0 0;
}

.btn-web a {
  text-decoration: none;
}
.button-borders:before {
  top: 0;
}

.github {
  background: rgb(59, 59, 59);
}
@media all and (max-width: 900px) {
  .fp-arrow {
    margin-top: -18px !important;
  }
  .fp-arrow.fp-prev{
    border-width: 18.5px 14px 18.5px 0 !important;
  }
  .fp-arrow.fp-next{
    border-width: 18.5px 0 18.5px 14px  !important;
  }

  .biography {
    flex-direction: column;
  }
  .biography img {
    width: 193px;
    height: 193px;
  }

  .shape {
    width: 193px;
    height: 193px;
  }

  .technologies img {
    width: 100px;
    filter: grayscale(0%);
  }

  .technologies {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    row-gap: 50px;
  }

  .item1 {
    grid-column-start: 1;
  }
   .item2 {
    grid-column-start: 2;
  }

  

  .card, .sc-shape {
    width: 70px;
    height: 70px;
  }

  .card img {
    width: 30px;
  }

  .slide-content img {
    width: 321px;
  }
  .slide-content {
    flex-direction: column;
  }
  .slide-right-content {
    margin: 0 50px;
  }

  .slide-content h2 {
    font-size: 22px;
  }

  .slide-right-content h4 {
    font-size: 21px;
  }
  .slide-right-content p {
    font-size: 10px;
  }
  
  .slide-right-content ul {
    margin-top: 10px;
  }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
  .biography {
    margin: 0 70px;
  }

  .technologies img {
    width: 130px;
  }

  .slide-content img {
    /* width: 150px; */
    margin: 0 40px;
  }

  .slide-left-content h2 {
    margin-left: 40px;
  }
}